body {
  margin: 0;
  overflow: hidden;
  font-family: sans-serif;
  background: #c2b280;
}
#inventory {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(0,0,0,0.5);
  padding: 10px;
  color: white;
}

#joystick {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 100px;
  height: 100px;
}

canvas {
  display: block;
  margin: 0 auto;
}
